.download-text{
    font-family: "SonicLogo";
    font-size: clamp(12px, 3vw, 24px);
    color: white;
    text-align: justify;
    text-shadow: 0px 3px 2px black;
    text-wrap: nowrap;
    max-width: 100%;
    margin: 0;
}

.download-button {
    width: auto;
    height: auto;
    max-width: 384px;
    max-height: 40vh;
    cursor: pointer;
    transition: 0.3s;
    aspect-ratio: 1/1;

    content: url("../assets/Download_Button.png");
}

.download-button:hover{
    scale: 105%;
    content: url("../assets/Download_GIF.gif");
}