#top-container {
    margin-top: 7vw;
    width: 100%;

    /* position: relative;
    z-index: 0;
    background-image: url('../assets/HomeLogo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    flex: 1 */
}

#white-container{
    margin: 0;
    width: 100%;
    background-color: white;
    position: relative;
    z-index: 1;
    display: block;
}

.top-row{
    display: flex;
    width: 100%;
    padding: 0 4%;
    box-sizing: border-box;
    margin: 0;
    padding: 0 4%;
}

.row {
    display: flex;
    width: 100%;
    padding: 0 4%;
    box-sizing: border-box;
    margin: 0;
    margin-bottom: calc(-24px + 1vw);
}

.column {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

.logo {
    max-width: 100%;
    height: auto;
    scale: 105%;
}

.description {
    margin: 0;
    font-family: "Koho";
    font-size: max(1.8vw, 16px);
    color: black;
    text-align: left;
    max-width: 100%;
    box-sizing: border-box;
    padding: 1vw;

    background-color: rgb(255, 217, 0);
    box-shadow: 8px 8px;
    margin: 8px 0;
}

.art-container{
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 32px;
}

.art-row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 16px;
}

.art {
    max-width: 50%;
    height: auto;
    object-fit: cover;
    object-position: bottom center;
}

.video-container {
    position: relative;
    width: 100%;
    max-width: 700px;
    aspect-ratio: 16 / 9;
}

.video-container .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    margin: 8px 0;
}

.screenshot {
    width: 100%;
    max-width: 700px;
    max-height: 393px;
    border-radius: 25px;
    border: 4px solid black;
    margin: 8px 0;
}

.triangles {
    width: 100%;
    height: 10vw;
    background-image: url('../assets/TriangleLines.svg');
    background-repeat: repeat-x;
    background-size: 100%;

    z-index: 2;
    margin-bottom: clamp(16px, 4vw, 48px);
}

@media (max-width: 1000px) {
    .top-row{
        flex-direction: column;
        padding: 0 4%;
    }

    .row {
        flex-direction: column;
        padding: 32px 4%;
    }

    .column {
        width: 100%;
        flex: 1 1 100%;
        padding: 0;
    }

    .screenshot {
        border: 3px solid black;
    }
}