.top-container {
    margin-top: 7vw;
    width: 100%;
}

.pc-layout {
    display: flex;
    flex: 1;
    justify-content: center;
}

.mobile-layout {
    display: none;
    flex: 1;
    justify-content: center;
}

.background-element-left{
    position: absolute;
    top: 0;
    left: 0;
    width: clamp(24rem, 60vw, 60rem);
    height: 100%;
    z-index: -1;
    background-image: url("../assets/DoodlesLeft.png");
    background-repeat: repeat-y;
    background-size: 100%;
}

.background-element-right{
    position: absolute;
    top: 0;
    right: 0;
    width: clamp(24rem, 60vw, 60rem);
    height: 100%;
    z-index: -1;
    background-image: url("../assets/DoodlesRight.png");
    background-repeat: repeat-y;
    background-size: 100%;
}

#white-container{
    margin: 0;
    width: 100%;
    background-color: white;
    background: repeating-conic-gradient(white 0% 25%, rgb(240, 240, 240) 0% 50%);
    background-size: 100px 100px; 
    position: relative;
    z-index: 1;
    display: block;
}

.top-row{
    display: flex;
    width: 100%;
    padding: 0 4%;
    box-sizing: border-box;
    margin: 0;
}

.row {
    display: flex;
    width: 100%;
    padding: 0 4%;
    box-sizing: border-box;
    margin: 0;
    margin-bottom: clamp(-24px, -2vw, -8px);
}

.column {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: clamp(16px, 4vw, 32px);
}

.logo {
    max-width: 50%;
    height: auto;
    scale: 105%;
    align-self: center;
}

.art-container{
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 32px;
}

.art-row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
}

.art {
    max-width: 30rem;
    height: auto;
    object-fit: cover;
    object-position: bottom center;
}

#mighty{
    filter: drop-shadow(-2px 3px 2px black);
}

#sonic{
    filter: drop-shadow(3px 3px 2px black);
}

.video-container {
    position: relative;
    width: 100%;
    max-width: 700px;
    aspect-ratio: 16 / 9;
}

.video-container .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    margin: 8px 0;
}

.description {
    font-family: "Koho";
    font-size: clamp(1rem, 2vw, 2rem);
    color: black;
    text-align: left;
    max-width: 100%;
    box-sizing: border-box;
    padding: clamp(8px, 1.5vw, 16px);

    background-color: rgb(255, 217, 0);
    box-shadow: 8px 8px;
    margin: 8px 0;
}

.screenshot {
    width: 100%;
    max-width: 700px;
    max-height: 393px;
    border-radius: 25px;
    border: 4px solid black;
    margin: 8px 0;
}

.triangles {
    width: 100%;
    height: 10rem;
    background-image: url('../assets/Triangles.svg');
    background-repeat: repeat-x;
    background-size: auto 100%;

    z-index: 2;
    margin-bottom: clamp(16px, 4vw, 48px);
}

@media (max-width: 1000px) {
    .pc-layout {
        display: none;
    }

    .mobile-layout {
        display: block;
    }

    .top-row{
        flex-direction: column;
        padding: 0 4%;
    }

    .row {
        flex-direction: column;
        padding: 32px 4%;
    }

    .column {
        width: 100%;
        flex: 1 1 100%;
        padding: 0;
    }

    .screenshot {
        border: 3px solid black;
    }

    .art {
        max-width: 50%;
    }

    .logo{
        margin-top: 24px;
    }

    .triangles {
        height: 6rem;
    }
}