@import url('https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@font-face {
    font-family: 'SonicLogo';
    src: url('../fonts/SonicLogoJP.ttf') format('truetype');
}

html {
    scrollbar-gutter: stable;
}

body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: Arial, sans-serif;

    background-image: url('../assets/ShaderTexture.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
    display: flex;
    justify-content: left;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    flex-direction: row; /* Ensure horizontal layout */
    align-items: center; /* Vertically align items inside */
    width: 100%;
    gap: 0;
    margin: 0;
    padding: 0;

    /* Scrolling on overflow */
    flex-wrap: nowrap; /* Prevent wrapping */
    overflow-x: auto; /* Shows scrollbar on desktop, scrollable on mobile */
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch; /* Smooth momentum scroll on iOS */
    touch-action: pan-x; /* Enable horizontal swipe on Android */
}

.nav-links li:first-child {
    margin-right: auto;
}

.nav-links li a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(191, 191, 191);
    text-decoration: none;
    font-size: 18px;
    font-family: "Koho";
    height: 60px; /* Match navbar height */
    padding: 0 64px;
    transition: background-color 0.3s;

    flex-shrink: 0; /* Prevent links from shrinking and breaking scroll */
}

.nav-item{
    text-shadow: 0px 2px 2px black;
    border-radius: 10px;
}

.nav-item:hover {
    background-color: rgba(255, 255, 255, 0.2); /* light highlight */
    color: white;
}

.nav-item-selected {
    position: relative;
}

.nav-item-selected::after {
    content: "";
    position: absolute;
    bottom: 6px;
    left: 24px;
    right: 24px;
    height: 2px; /* Thin line */
    background-color: rgb(191, 191, 191);
}

.nav-item-selected:hover::after{
    background-color: white;
}

#home {
    height: 130px;
    transition: 0.3s;
}

#home:hover{
    scale: 115%;
}

.disclaimer {
    font-family: "Koho";
    font-size: 18px;
    color: black;
    text-align: center;
    box-sizing: border-box;
    padding: 24px 0;
    margin-bottom: 0;
}

.disclaimer-fixed{
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 0;
}

.disclaimer-text{
    font-family: "Koho";
    font-size: clamp(8px, 1.5vw, 18px);
    color: white;
    text-align: center;
    box-sizing: border-box;
    padding-bottom: 24px;
    margin: 0;
    background-color: black;
}

.triangles-invert {
    width: 100%;
    height: 5rem;
    background-image: url('../assets/TrianglesInvert.svg');
    background-repeat: repeat-x;
    background-size: auto 100%;

    z-index: 2;
}

.container {
    position: fixed; /* covers full viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex; /* flexbox centering */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error{
    width: auto;
    height: auto;
    max-width: clamp(24rem, 60vw, 60rem);
    max-height: 75vh;
    border-radius: 100px;
    translate: 0px -6vh;
}

@media (max-width: 1000px) {
    
    .triangles-invert {
        height: 3rem;
    }
}