.top-container {
    margin-top: 7vw;
    width: 100%;
}

.top-row{
    display: flex;
    width: 100%;
    padding: 0 4%;
    box-sizing: border-box;
    margin: 0;
}

.row {
    display: flex;
    width: 100%;
    padding: 0 4%;
    box-sizing: border-box;
    margin: 0;
    margin-bottom: clamp(-24px, -2vw, -8px);
}

.column {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: clamp(16px, 4vw, 32px);
    border: 4px solid yellow;
}