html, body {
    margin: 0;
    min-height: 100%;
}

.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.top-container {
    margin-top: 5vw;
    width: 100%;
}

.top-row{
    display: flex;
    width: 100%;
    padding: 0 4%;
    box-sizing: border-box;
    margin: 0;
}

.row {
    display: flex;
    width: 100%;
    padding: 0 4%;
    box-sizing: border-box;
    margin: 0;
    margin-bottom: clamp(-24px, -2vw, -8px);
}

.column {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: clamp(16px, 4vw, 32px);
}

.discord{
    width: 350px;
    height: 425px;
    max-width: 75%;
}

#black-container {
    background-color: black;
    margin-top: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    display: block;
}

#logo-col{
    margin-top: -1rem;
}

.logo {
    max-width: 50%;
    height: auto;
    align-self: center;
}