.container {
    position: fixed; /* covers full viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex; /* flexbox centering */
    justify-content: center;
    align-items: center;
}

.download-button {
    max-width: 512px;
    scale: 75%;
    height: auto;
    cursor: pointer;
}