.container {
    position: fixed; /* covers full viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex; /* flexbox centering */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.download-text{
    font-family: "SonicLogo";
    font-size: max(1.6vw, 12px);
    color: white;
    text-align: justify;
    text-shadow: 0px 3px 2px black;
    max-width: 100%;
    margin: 0;
}

.download-button {
    width: auto;
    height: auto;
    max-width: 384px;
    max-height: 40vh;
    cursor: pointer;
    border-radius: 100px;
    transition: 0.3s;
    aspect-ratio: 1/1;
}

.download-button:hover{
    scale: 105%;
    background-color: rgba(255, 255, 255, 0.2); /* light highlight */
}