.container{
    width: 50%;
    max-width: fit-content;
    margin: 30px;
    margin-right: auto;
    /* background-color: #944bbb; */
    border-radius: 20px; 
}

.inner-container{
    display: flex;
    justify-content: center;
    position: relative;
    text-overflow: wrap;
    margin-bottom: -30px;
}

.vertical-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#game-container{
    margin-top: 120px;
}

.content{
    margin-left: 3vw;
    margin-right: 3vw;
}

#logo{
    height: 50vh;
}

#title{
    font-family: "SonicLogo";
    font-size: 36px;
    text-align: center;
}

#description{
    font-family: "Koho";
    font-size: 24px;
    text-align: center;
    color: white;
    text-align: justify;
    text-shadow: 0px 2px 2px black;
}