.container{
    width: 75%;
    max-width: fit-content;
    margin: 60px;
    margin-left: auto;
    margin-right: auto;
    background-color: #944bbb;
    border-radius: 20px; 
}

.inner-container{
    display: flex;
    justify-content: center;
    position: relative;
    text-overflow: wrap;
}

.vertical-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#game-container{
    margin-top: 120px;
}

.content{
    margin-left: 3vw;
    margin-right: 3vw;
}

#logo{
    height: 50vh;
}

#title{
    font-family: "SonicLogo";
    font-size: 36px;
    text-align: center;
}

#description{
    font-family: "Koho";
    font-size: 24px;
    text-align: center;
}