#game-container {
    margin-top: 120px;
    width: 100%;
}

.row {
    display: flex;
    width: 100%;
    padding: 0 4%;
    box-sizing: border-box;
}

.column {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 32px;
}

.logo {
    max-width: 100%;
    height: auto;
}

.description {
    margin-top: 0;
    font-family: "Koho";
    font-size: 24px;
    color: white;
    text-align: justify;
    text-shadow: 0px 3px 2px black;
    max-width: 100%;
    box-sizing: border-box;
}

.screenshot {
    max-width: 100%;
    max-height: 393px;
    border-radius: 25px;
    border: 4px solid white;
}

@media (max-width: 1000px) {
    .row {
        flex-direction: column;
        padding: 32px 4%;
    }

    .column {
        width: 100%;
        flex: 1 1 100%;
        padding: 0;
    }

    .description {
        font-size: 18px;
    }
}