#top-container {
    margin-top: 7vw;
    margin-bottom: 4vw;
    width: 100%;

    /* position: relative;
    z-index: 0;
    background-image: url('assets/HomeLogo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    flex: 1 */
}

#white-container{
    margin: 0;
    width: 100%;
    background-color: white;
    position: relative;
    z-index: 1;
}

.row {
    display: flex;
    width: 100%;
    padding: 0 4%;
    box-sizing: border-box;
    margin: 24px 0;
}

.column {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
}

.logo {
    max-width: 100%;
    height: auto;
    scale: 105%;
}

.description {
    margin: 0;
    font-family: "Koho";
    font-size: max(1.8vw, 16px);
    color: black;
    text-align: left;
    max-width: 100%;
    box-sizing: border-box;
    padding: 1vw;

    background-color: rgb(255, 217, 0);
    box-shadow: 8px 8px;
}

.video {
    max-width: 100%;
    max-height: 393px;
    border-radius: 25px;
    aspect-ratio: 16/9;
}

.screenshot {
    max-width: 100%;
    max-height: 393px;
    border-radius: 25px;
    border: 4px solid black;
}

.triangles {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 2;
    padding-bottom: 4vw;
}

@media (max-width: 1000px) {
    .row {
        flex-direction: column;
        padding: 32px 4%;
    }

    .column {
        width: 100%;
        flex: 1 1 100%;
        padding: 0;
    }

    .screenshot {
        border: 3px solid white;
    }
}